p{
    margin:0px;
}

.ski_icon:hover{
    opacity:50%;
}

.pro_ho{
    width:100%;
    height:100%;
}

.pro_ho:hover{
    filter:blur(10px);
}

.pro_pop{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
    pointer-events:none;
}

.pop_text{
    
    color:white;
    filter:drop-shadow(1px 1px 1px #000);
}

.hidden{
    overflow:hidden;
}


@media(max-width:576px){
    /* #fa_txt_ColorPicker{
        display:block;
    }
    .pop_text{
            font-size:24px;
        } */
}

@media(min-width:576px){
    /* #fa_txt_ColorPicker{
        display:block;
    }
    .pop_text{
            font-size:4px;
        } */
}

@media(min-width:768px){
    /* #fa_txt_ColorPicker{
        display:block;
    }
    .pop_text{
        font-size:4px;
    } */
}

@media(min-width:992px){
    /* #fa_txt_ColorPicker{
        display:block;
    }
    .pop_text{
        font-size:4px;
    } */
}
@media(min-width:1200px){
/* 
    .pop_text{
        font-size:18px;
    } */
}