*{
    padding:0px;
    margin:0px;
}

body{
    height:100vh;
}

.sec_1{
    height:100%;
    width:100%;
    background:rgb(99, 99, 99);
    position:relative;
}

.sec_1_sq_line{
    width:40rem;
    height:30rem;
    border:1px solid rgb(255, 255, 255);
    position:absolute;
    top:40%;
    right:50%;
}

.intro{
    width:50%;
    height:50%;
    background:white;
    position:absolute;
    top:20rem;
    right:10rem;
}

.photo{
    width:20rem;
    height:20rem;
    background:white;
    position:absolute;
    top:15rem;
    left:10rem;
}

.sec_2{
    height:100%;
    width:100%;
    background:rgb(255, 255, 255);
    position:relative;
}

.sec_2_sq_line{
    width:80rem;
    height:25rem;
    border:1px solid rgb(99, 99, 99);
    position:absolute;top:22rem;left:16%;
}

.sec_2_fa{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:center;
}

.sec_2_ch{
    width:15rem;
    height:15rem;
    background:rgb(99, 99, 99);
    margin:1rem;
    display:inline-block;
    position:relative;
}

.po_img{
    width:15rem;
    height:15rem;
    
}

.pos_top{
    top:16rem;
}

.sec_3{
    height:100%;
    width:100%;
    background:rgb(99, 99, 99);
    position:relative;
}

.sec_3_sq_line{
    width:60rem;
    height:35rem;
    border:1px solid rgb(255, 255, 255);
    position:absolute;
    top:15rem;
    left:30%;
}

.sec_3_ali{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.sec_3_fa{
    width:35%;
    height:60%;
    background:rgb(255, 255, 255);
    margin:2rem;
}

.sec_3_fa>form{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

input{
    border:1px solid rgb(99, 99, 99);
    border-radius:5px;
}

textarea{
    border:1px solid rgb(99, 99, 99);
    border-radius:5px;
}